.dailyForecast {
  width: calc(100% - 10px);
  display: flex;
  flex-direction: column;
}

.dailyForecast .dailyForecastTitle {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.25rem;
}

.dailyForecast .dailyContents {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  padding: 0.5rem 0;
  width: 100%;
}

.dailyForecast .dailyContents .forecastDay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  width: 100%;
}

.dailyForecast .dailyContents .forecastDay img {
  max-width: 100%;
}
